* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #081b31;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem; 
}
#fv{
  border-radius: 50%;
}
.game-over{
  height: 150px;
  width: 600px;
  padding: 15px;
  background-color: #7aeed5;
  color: #081b31;
  position: absolute;
  border: 1px double black;
  border-radius: 18px;
  box-shadow: 1px 1px 10px rgb(162, 241, 97);
  left: 340px;
  bottom: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#but{
height: 50px;  
width: 150px;
background-color: teal;
color: white;
font-size: 22px;
border: 2px double black;
border-radius: 10px;
}

.lastpara{
  font-size: 4rem;
  color: rgb(44, 40, 40);

}
#ba{
height: 50px;  
width: 150px;
background-color: teal;
color: white;
font-size: 22px;
border: 2px double black;
border-radius: 10px;
position: relative;
top: 20px;
}
.hide{
  display: none;
}